<%- include("partials/header.ejs") %>

<div>

    <h1>Contact Us</h1>
<form action="/">
 <p>contact us</p>
 <input type="text" placeholder="Name" required><br>
 <input type="email" placeholder="Email" required><br>
 <input type="phone" placeholder="Phone" required>
</form>

</div>

<%- include("partials/footer.ejs") %>
