<%- include("partials/header.ejs") %>

    <div class="home">
        <h1>Welcome to My page </h1>
         <div class="welcome">
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium obcaecati ipsa, magni suscipit porro officiis maiores autem? At fugit sequi provident eveniet,
             voluptatem saepe corrupti aperiam totam magni asperiores placeat.</p>
        </div>
    </div>
    <%- include("partials/footer.ejs") %>