<%- include("partials/header.ejs") %>

<div class="services">
    <h1>Our services</h1>
    <div class="list-services">
        <div class="list">
            <img src="./images/image1.jpg" alt="">
            <h3>Web Development</h3>
            <p>At fugit sequi provident eveniet, voluptatem saepe corrupti aperiam totam magni asperiores placeat.</p>
            
            <div class="list">
                <img src="./images/image1.jpg" alt="">
                <h3>Web Development</h3>
                <p>At fugit sequi provident eveniet, voluptatem saepe corrupti aperiam totam magni asperiores placeat.</p>
            </div>
            
            <div class="list">
                <img src="./images/image1.jpg" alt="">
                <h3>Web Development</h3>
                <p>At fugit sequi provident eveniet, voluptatem saepe corrupti aperiam totam magni asperiores placeat.</p>
            </div>
        </div>
    </div>
</div>
<%- include("partials/footer.ejs") %>
